/.Calificacion.java._trace
/.Comparador.java._trace
/.Condicion.java._trace
/.CondicionDia.java._trace
/.CondicionHora.java._trace
/.CondicionPeriodicidad.java._trace
/.Condicional.java._trace
/.Criterio.java._trace
/.CriterioCompuesto.java._trace
/.CriterioHandicap.java._trace
/.CriterioNCalificaciones.java._trace
/.CriterioUltimoPartido.java._trace
/.Dia.java._trace
/.DivisionEquipos.java._trace
/.Email.java._trace
/.Estandar.java._trace
/.Infraccion.java._trace
/.InfraccionBajaSinRemplazo.java._trace
/.NotificarConfirmacionAAmigosObserver.java._trace
/.NotificarEquipoCompletoConseguidoOPerdidoObserver.java._trace
/.Observer.java._trace
/.Participante.java._trace
/.Partido.java._trace
/.Propuesta.java._trace
/.Rechazo.java._trace
/.ServidorDeEmails.java._trace
/.Sistema.java._trace
/.Solidario.java._trace
